$grey10: #191919;
$grey9: #303030;
$grey8: #474747;
$grey7: #5e5e5e;
$grey6: #757575;
$grey5: #8c8c8c;
$grey4: #a3a3a3;
$grey3: #bababa;
$grey2: #d1d1d1;
$grey1: #e8e8e8;

$purple15: #20066e;
$purple14: #260784;
$purple13: #2d089a;
$purple12: #330ab0;
$purple11: #3a0bc6;
$purple10: #400cdc;
$purple9: #5324e0;
$purple8: #663de3;
$purple7: #7955e7;
$purple6: #8c6dea;
$purple5: #a086ee;
$purple4: #b39ef1;
$purple3: #c6b6f5;
$purple2: #d9cef8;
$purple1: #ece7fc;